header{
	background-color: #2d8fa3;
	padding: 10px;
	text-align: left;
	/* Fonts */
	color: white;
	font-size: 50px;
}

body{
	overflow-x: hidden;
}

#wrapper{
	padding-right: 0;
	-webkit-transition: all 5s;
	-moz-transition: all 5s;
	-o-transition: all 5s;
	transition: all 5s;
}

#wrapper.active{
	padding-right: 250px;
}

#sidebar-wrapper{
	z-index: 1000;
	position: fixed;
	right: 250px;
	margin-right: -250px;
	width:0;
	height: 100%;
	overflow-y: auto;
	-webkit-transition: all 5s;
	-moz-transition: all 5s;
	-o-transition: all 5s;
	transition: all 5s;
}

#wrapper.active #sidebar-wrapper{
	width: 250px;
}

#content{
	position: absolute;
	width: 100%;
	height: 100%;
}

#wrapper.active #content{
	position: absolute;
	padding-right: 250px;
	height: 100%;
}

/*a[data-toggle="collapse"]{
	position: relative;
}

.dropdown-toggle::after{
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

@media(max-width:768px){
	#sidebar{
		margin-left: -250px;
	}
	#sidebar.active{
		margin-left: 0px;
	}
}*/