:root{
	--transition-duration: 1s;
	--pad: 5%;
}

header{
	background: linear-gradient(30deg, #2abe91, #23969d);
	padding: 15px;
	padding-left: var(--pad);
	padding-right: calc(var(--pad)/2);
	text-align: left;
	/* Fonts */
	color: white;
	font-size: 50px;
}

footer{
	position: fixed;
    bottom: 0;
	padding: 2px;
    width: 100%;
	background-color: lightgray;
	-webkit-transition: all var(--transition-duration);
	-moz-transition: all var(--transition-duration);
	-o-transition: all var(--transition-duration);
	transition: all var(--transition-duration);
}

body{
	overflow-x: hidden;
}

.thumbnail{
	width: 425px;
	text-align:center;
	font-size:75px;
	padding: 40px;
	border: 5px solid;
	background-color: #f0f0f0;
}

.myLargeIcon{
	display: inline-block;
}

#container{
	padding: 10px;
	padding-left: var(--pad);
	padding-right: var(--pad);
}

.smaller a{
	font-size: smaller;
}

#wrapper{
	padding-right: 0;
	background-color: #000000;
}

#wrapper.active{
	padding-right: 250px;
}

#wrapper.active #content footer{
	width: calc(100% - 250px);
}

#sidebar-wrapper{
	background: #2d8fa3;
	z-index: 1000;
	position: fixed;
	right: 250px;
	margin-right: -250px;
	width:0;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-transition: all var(--transition-duration);
	-moz-transition: all var(--transition-duration);
	-o-transition: all var(--transition-duration);
	transition: all var(--transition-duration);
}

#wrapper.active #sidebar-wrapper{
	max-width:90%;
	width: 250px;
}

#content{
	position: absolute;
	width: 100%;
	min-height: 400px;
    margin-bottom: 50px;
	-webkit-transition: all var(--transition-duration);
	-moz-transition: all var(--transition-duration);
	-o-transition: all var(--transition-duration);
	transition: all var(--transition-duration);
}

#wrapper.active #content{
	position: absolute;
	padding-right: 250px;
	height: 100%;
}

.sidebar-nav{
	list-style: none;
}

.sidebar-nav li a{
	font-size: 20px;
	color: #f5f5f5;
	text-decoration: none;
	cursor:pointer;
}	

.sidebar-nav>.sidebar-brand a{
	font-size: 30px;
}

/*a[data-toggle="collapse"]{
	position: relative;
}

.dropdown-toggle::after{
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

@media(max-width:768px){
	#sidebar{
		margin-left: -250px;
	}
	#sidebar.active{
		margin-left: 0px;
	}
}*/

/* Autocomplete style */
.autocomplete{
	position: relative;
	display: inline-block;
}

.autocomplete-items{
	background: #ffffff;
	position: absolute;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
	font-size: 16px;
	border: 1px solid #707070;
}

.autocomplete-items div{
	/*border-bottom: 1px solid #a0a0ff;*/
	padding: 3px 6px;
}

.autocomplete-items div:hover{
	background: #aaaaaa;
}

.autocom-active{
	background-color: #aaaaaa;
}